@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --backgroud-color: #3b3b3b;
    --alt-link-color: #878787;
    --form-color: #d9d9d9;
    --link-color: #194af6;
    --download-color: #3f8846;
}

* {
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#movie-selection-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-selection-input-element {
    padding-top: 0.5rem;
}

.filter-and-ticket-bar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.seating-plan {
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-auto-flow: row;
    direction: ltr;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
}

.seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
}


