@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --backgroud-color: #3b3b3b;
    --alt-link-color: #878787;
    --form-color: #d9d9d9;
    --link-color: #194af6;
    --download-color: #3f8846;
}

* {
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#movie-selection-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-selection-input-element {
    padding-top: 0.5rem;
}

.filter-and-ticket-bar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.filter-dropdown {
    padding-right: 0rem;
}

.seating-plan {
    display: flex;
    flex-direction: row;
    background-color: #194af6;
    grid-template-columns: auto;
    grid-template-rows: auto;

    box-sizing: border-box;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.seat {
    box-sizing: border-box;
    width: auto;
    height: auto;
    border: 2px dashed rgba(236, 198, 48, 0.5);
}


